/*
 * https://css-tricks.com/aspect-ratio-boxes/
 * https://css-tricks.com/aspect-ratios-grid-items/
 * https://alistapart.com/article/creating-intrinsic-ratios-for-video/
 *
 * Basic version works for images mainly.
 */

.aspect-ratio-box {
	height: 0;
	overflow: hidden;
	padding-top: 56.25%; /* 9/16 = 0.5625 as a width percentage */
	/* padding-top: calc(9 / 16 * 100%); */
	position: relative;
}

.aspect-ratio-box-inner {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
