/*
 * https://css-tricks.com/aspect-ratio-boxes/
 * https://css-tricks.com/aspect-ratios-grid-items/
 * https://alistapart.com/article/creating-intrinsic-ratios-for-video/
 *
 * Extended version in case the content exceeds the box, ie. box with text.
 */

.aspect-ratio-box {
	background: white;
}

.aspect-ratio-box::before {
	content: "";
	float: left;
	height: 0;
	margin-left: -1px;
	padding-top: 56.25%; /* 9/16 = 0.5625 as a width percentage */
	/* padding-top: calc(9 / 16 * 100%); */
	width: 1px;
}

.aspect-ratio-box::after {
	clear: both;
	content: "";
	display: table;
}
